body{
    background-color: blueviolet;
}
.deepali{
    width: 50%;
    margin-top: 50px;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}
.deepali1{
    border: 5px solid white;
    width:100%
    
}
h1{
    text-transform: uppercase;
    font-size: 3rem;
}